.gameWindow {
    font-size: 20px;
    font-weight: bold;
    font-family: monospace, courier;
    color: rgb(114, 94, 146);
    background: rgb(166, 211, 124);
    border-radius: 20px;
    width: 450px;
    height: 250px;
    border: 15px solid #808080;
    margin: 30px auto;
    text-align: center;
    box-shadow: inset -1px 2px 10px 5px #575757;
}


/* zum zentrieren eines divs -> Eingabefeld für Ergebnisse */

.center {
    margin: 0px auto;
    text-align: center;
}

.inputWindow {
    font-size: 100px;
    font-weight: bold;
    font-family: monospace, courier;
    background: white;
    height: 120px;
    width: 400px;
    padding: 20px;
    box-shadow: 15px 15px 15px grey;
}